@font-face {
  font-family: 'Handon3gyeopsal600g';
  src: url('Handon3gyeopsal600g.svg#Handon3gyeopsal600g') format('svg'),
       url('Handon3gyeopsal600g.ttf') format('truetype'),
       url('Handon3gyeopsal600g.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "한돈 삼겹살체 600g";
  src: url("한돈 삼겹살체 600g.eot");
  src: url("한돈 삼겹살체 600g.eot?#iefix") format('embedded-opentype'),
       url("한돈 삼겹살체 600g.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

